/* Highest-level container, in which the panes (canvas, options) will flow horizontally */
.page-container {
    display: flex;
    align-items: start;
}

#canvasContainer {
    position: relative; /* makes this a positioning context for the canvases */
    min-width: 800px; /* Never collapse canvas */
    width: 800px;
    height: 800px;
}

/* Absolute positioning within canvasContainer, to line up the two overlaid canvases */
canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.options-pane {
    font: 16px Arial;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    border-left: 6px solid grey;
    margin-left: 20px;
}

.options-body-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.options-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.options-line > input {
    margin-right: 0px;
}

.custom-colors-selector-container {
    display: flex;
    flex-direction: column;
    border-left: 4px solid grey;
    padding-left: 12px;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.color-input {
    max-width: 80px;
}

.clr-field {
    max-width: 150px;
}

.hidden {
    display: none !important;
}

/* This button is technically at the same level as the two panes,
but will be fixed to the top-right corner of its parent, the page-container */
#toggleOptionsHiddenButton {
    position: absolute;
    top: 10px;
    right: 10px;
}
