/* Make it so the panes (canvas, options) will flow horizontally */
.page-container {
    display: flex;
    align-items: start;
}

#canvasContainer {
    position: relative;
    min-width: 800px; /* Never collapse canvas */
    width: 800px;
    height: 800px;
}
/* Absolute positioning within canvasContainer, to line up the two overlaid canvases */
canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.options-pane {
    font: 16px Arial;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-left: 2px solid black;
    margin-left: 20px;
}

. options-top-bar {
    display: flex;
} 

/* This button is technically at the same level as the two panes,
but will be fixed to the top-right corner of its parent, the page-container */
#toggleOptionsHiddenButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Add spacing between visible rows of the options pane */
.options-container > * {
    margin-bottom: 10px;
}

/* Generally, flow input labels to the right of their inputs */
.options-pane label, .options-pane .dropdown-with-label {
    display: flex;
    align-items: center;
    gap: 15px;
}

.hidden {
    display: none;
}

