.container {
    display: flex;
    align-items: start;
}

.controls {
    font: 16px Arial;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    border-left: 2px solid black;
    margin-left: 20px;
}

.controls > * {
    margin-bottom: 10px;
}

.controls label {
    display: flex;
    align-items: center;
}

.controls input {
    margin-right: 10px;
}

.controls .dropdownContainer {
    display: flex;
    align-items: bottom;
    gap: 15px;
}

.controls label, .controls select {
    display: inline-block;
    vertical-align: middle;
}

#canvasContainer {
    position: relative;
    width: 800px;
    height: 800px;
    /* padding-right: 20px; */
    /* border-right: 1px solid black; */
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
}
